In [1]:
import humanize
import numpy as np
import pandas as pd
from datetime import datetime

%matplotlib inline

In [2]:
final_features = pd.read_csv('./final_features.csv', header=0, index_col=0)
outcomes = pd.read_csv('./labels.csv', header=None, index_col=0)

In [3]:
outcomes.shape

(313274, 1)

In [4]:
final_features.shape

(313274, 43)

In [5]:
final_features.iloc[:1]

,driver_age_raw,search_conducted,contraband_found,is_male,violation_cell_phone,violation_display_of_plates,violation_equipment,violation_incomplete_stop,violation_license,violation_lights,...,stop_duration_16-30 min,stop_duration_30+ min,day_period_Afternoon,day_period_Evening,day_period_Morning,day_period_Small Hours,season_Fall,season_Spring,season_Summer,season_Winter
0,0.69697,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [6]:
final_features.iloc[-1:]

,driver_age_raw,search_conducted,contraband_found,is_male,violation_cell_phone,violation_display_of_plates,violation_equipment,violation_incomplete_stop,violation_license,violation_lights,...,stop_duration_16-30 min,stop_duration_30+ min,day_period_Afternoon,day_period_Evening,day_period_Morning,day_period_Small Hours,season_Fall,season_Spring,season_Summer,season_Winter
318668,0.191919,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [7]:
outcomes.iloc[-1:]

             1
0
318668  Ticket

In [8]:
outcomes

                      1
0
0                Ticket
1        Verbal Warning
2                Ticket
3       Written Warning
4                Ticket
5        Verbal Warning
6                Ticket
7        Verbal Warning
8                Ticket
9        Verbal Warning
10               Ticket
11       Verbal Warning
12       Verbal Warning
13               Ticket
14               Ticket
15               Ticket
16       Verbal Warning
17       Verbal Warning
18       Verbal Warning
19               Ticket
20       Verbal Warning
21       Verbal Warning
22               Ticket
23               Ticket
24               Ticket
25               Ticket
26      Written Warning
27               Ticket
28       Verbal Warning
29               Ticket
...                 ...
318639           Ticket
318640   Verbal Warning
318641   Verbal Warning
318642           Ticket
318643           Ticket
318644           Ticket
318645   Verbal Warning
318646           Ticket
318647           Ticket
318648           Ticket
318649           Ticket
318650           Ticket
318651   Verbal Warning
318652           Ticket
318653           Ticket
318654           Ticket
318655           Ticket
318656           Arrest
318657   Verbal Warning
318658           Ticket
318659           Ticket
318660   Verbal Warning
318661           Ticket
318662           Ticket
318663           Ticket
318664           Ticket
318665  Written Warning
318666           Ticket
318667           Ticket
318668           Ticket

[313274 rows x 1 columns]

In [9]:
final_features.head()

,driver_age_raw,search_conducted,contraband_found,is_male,violation_cell_phone,violation_display_of_plates,violation_equipment,violation_incomplete_stop,violation_license,violation_lights,...,stop_duration_16-30 min,stop_duration_30+ min,day_period_Afternoon,day_period_Evening,day_period_Morning,day_period_Small Hours,season_Fall,season_Spring,season_Summer,season_Winter
0,0.696970,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
1,0.202020,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
2,0.343434,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,0.464646,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,0.303030,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [10]:
final_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 313274 entries, 0 to 318668
Data columns (total 43 columns):
driver_age_raw                      313274 non-null float64
search_conducted                    313274 non-null int64
contraband_found                    313274 non-null int64
is_male                             313274 non-null int64
violation_cell_phone                313274 non-null int64
violation_display_of_plates         313274 non-null int64
violation_equipment                 313274 non-null int64
violation_incomplete_stop           313274 non-null int64
violation_license                   313274 non-null int64
violation_lights                    313274 non-null int64
violation_moving_violation          313274 non-null int64
violation_other                     313274 non-null int64
violation_registration              313274 non-null int64
violation_safe_movement             313274 non-null int64
violation_seatbelt                  313274 non-null int64
violation_speeding                  313274 non-null int64
violation_suspended_license         313274 non-null int64
violation_traffic_control_signal    313274 non-null int64
violation_window_tint               313274 non-null int64
county_name_Fairfield County        313274 non-null int64
county_name_Hartford County         313274 non-null int64
county_name_Litchfield County       313274 non-null int64
county_name_Middlesex County        313274 non-null int64
county_name_New Haven County        313274 non-null int64
county_name_New London County       313274 non-null int64
county_name_Tolland County          313274 non-null int64
county_name_Windham County          313274 non-null int64
driver_race_Asian                   313274 non-null int64
driver_race_Black                   313274 non-null int64
driver_race_Hispanic                313274 non-null int64
driver_race_Other                   313274 non-null int64
driver_race_White                   313274 non-null int64
stop_duration_1-15 min              313274 non-null int64
stop_duration_16-30 min             313274 non-null int64
stop_duration_30+ min               313274 non-null int64
day_period_Afternoon                313274 non-null int64
day_period_Evening                  313274 non-null int64
day_period_Morning                  313274 non-null int64
day_period_Small Hours              313274 non-null int64
season_Fall                         313274 non-null int64
season_Spring                       313274 non-null int64
season_Summer                       313274 non-null int64
season_Winter                       313274 non-null int64
dtypes: float64(1), int64(42)
memory usage: 105.2 MB

# Data sanity check

In [11]:
description = final_features.describe()
description.iloc[:,:6]

,driver_age_raw,search_conducted,contraband_found,is_male,violation_cell_phone,violation_display_of_plates
count,313274.000000,313274.000000,313274.000000,313274.000000,313274.000000,313274.000000
mean,0.384508,0.016848,0.005771,0.663946,0.063890,0.018415
std,0.145742,0.128701,0.075750,0.472358,0.244557,0.134447
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.262626,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.353535,0.000000,0.000000,1.000000,0.000000,0.000000
75%,0.494949,0.000000,0.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
description.columns.values

array(['driver_age_raw', 'search_conducted', 'contraband_found', 'is_male',
       'violation_cell_phone', 'violation_display_of_plates',
       'violation_equipment', 'violation_incomplete_stop',
       'violation_license', 'violation_lights',
       'violation_moving_violation', 'violation_other',
       'violation_registration', 'violation_safe_movement',
       'violation_seatbelt', 'violation_speeding',
       'violation_suspended_license', 'violation_traffic_control_signal',
       'violation_window_tint', 'county_name_Fairfield County',
       'county_name_Hartford County', 'county_name_Litchfield County',
       'county_name_Middlesex County', 'county_name_New Haven County',
       'county_name_New London County', 'county_name_Tolland County',
       'county_name_Windham County', 'driver_race_Asian',
       'driver_race_Black', 'driver_race_Hispanic', 'driver_race_Other',
       'driver_race_White', 'stop_duration_1-15 min',
       'stop_duration_16-30 min', 'stop_duration_30+ min',
       'day_period_Afternoon', 'day_period_Evening', 'day_period_Morning',
       'day_period_Small Hours', 'season_Fall', 'season_Spring',
       'season_Summer', 'season_Winter'], dtype=object)

In [13]:
description.iloc[:,6:12]

,violation_equipment,violation_incomplete_stop,violation_license,violation_lights,violation_moving_violation,violation_other
count,313274.000000,313274.000000,313274.000000,313274.000000,313274.000000,313274.000000
mean,0.009442,0.022673,0.009366,0.038647,0.089133,0.278989
std,0.096711,0.148860,0.096322,0.192752,0.284936,0.448503
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
description.iloc[:,12:17]

,violation_registration,violation_safe_movement,violation_seatbelt,violation_speeding,violation_suspended_license
count,313274.000000,313274.000000,313274.000000,313274.000000,313274.000000
mean,0.119927,0.015989,0.038592,0.321147,0.009366
std,0.324877,0.125434,0.192622,0.466918,0.096322
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
description.iloc[:,17:22]

,violation_traffic_control_signal,violation_window_tint,county_name_Fairfield County,county_name_Hartford County,county_name_Litchfield County
count,313274.000000,313274.000000,313274.000000,313274.000000,313274.000000
mean,0.015989,0.007221,0.132118,0.125571,0.085551
std,0.125434,0.084666,0.338619,0.331365,0.279701
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
description.iloc[:,22:27]

,county_name_Middlesex County,county_name_New Haven County,county_name_New London County,county_name_Tolland County,county_name_Windham County
count,313274.000000,313274.000000,313274.000000,313274.000000,313274.000000
mean,0.117919,0.157689,0.146753,0.144331,0.090068
std,0.322513,0.364450,0.353860,0.351425,0.286280
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
description.iloc[:,27:33]

,driver_race_Asian,driver_race_Black,driver_race_Hispanic,driver_race_Other,driver_race_White,stop_duration_1-15 min
count,313274.000000,313274.000000,313274.000000,313274.000000,313274.000000,313274.000000
mean,0.018843,0.117724,0.098119,0.005510,0.759805,0.910886
std,0.135970,0.322282,0.297475,0.074022,0.427203,0.284908
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
description.iloc[:,33:39]

,stop_duration_16-30 min,stop_duration_30+ min,day_period_Afternoon,day_period_Evening,day_period_Morning,day_period_Small Hours
count,313274.000000,313274.000000,313274.000000,313274.000000,313274.000000,313274.000000
mean,0.070635,0.018479,0.232799,0.196314,0.363155,0.207732
std,0.256214,0.134676,0.422616,0.397209,0.480910,0.405684
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
description.iloc[:,39:43]

         season_Fall  season_Spring  season_Summer  season_Winter
count  313274.000000  313274.000000  313274.000000  313274.000000
mean        0.288217       0.263319       0.212137       0.236327
std         0.452934       0.440435       0.408822       0.424826
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         1.000000       1.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000       1.000000

# Shuffle and split data

In [20]:
from sklearn.cross_validation import train_test_split

# Split the 'features' and 'income' data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(final_features, 
                                                    outcomes, 
                                                    test_size=0.2, 
                                                    random_state=0)

D:\AppData\Local\conda\conda\envs\kaggle\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

## Naive predictor

In [44]:
outcomes.count().values[0]

313274

In [36]:
np.unique(outcomes, return_counts=True)

(array(['Arrest', 'Summons', 'Ticket', 'Verbal Warning', 'Written Warning'], dtype=object),
 array([  7303,  12203, 218951,  47750,  27067], dtype=int64))

In [49]:
np.unique(outcomes, return_counts=True)[1].max()

218951

In [51]:
# Most frequent outcome, 'Ticket,' count
tp = np.unique(outcomes, return_counts=True)[1].max()
total_outcomes = outcomes.count().values[0]
fp = total_outcomes - tp
tn = 0
fn = 0

accuracy = float(tp) / total_outcomes
recall = float(tp) / (tp + fn)
precision = float(tp) / (tp + fp)

# TODO: Calculate F-score using the formula above for beta = 0.5 and correct values for precision and recall.
beta = 0.5
fscore = (1 + beta**2) * (precision * recall) / (beta**2 * precision + recall)

# Print the results 
print("Naive Predictor: [Accuracy score: {:.4f}, F-score: {:.4f}]".format(accuracy, fscore))

Naive Predictor: [Accuracy score: 0.6989, F-score: 0.7437]

## Simple Linear Classifier

In [53]:
from sklearn import linear_model

clf_sgd = linear_model.SGDClassifier()
clf_sgd.fit(X_train, y_train)
clf_sgd.score(X_test, y_test)

D:\AppData\Local\conda\conda\envs\kaggle\lib\site-packages\sklearn\utils\validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.71925624451360626